<div class="content">
    <div id="title">
        <h1>Ombre fraîche</h1>
        <small>
            <span class="circle-green"></span> l'arbre
            <span class="circle-orange"></span> le soleil
            <span class="circle-grey"></span> l'ombre
            <span class="circle-red"></span> le Nord
        </small>
    </div>
    <div id="visual">
        <shadow-simulation :duration="duration" />
    </div>
    <div id="params">
        <label for="parkingTime">
            Temps de stationnement
        </label>
        <br/>
        <select name="parkingTime" id="parkingTime" v-model="durationAsString" class="form-control">
            <option value="0">moins d'1H</option>
            <option value="1">1H</option>
            <option value="2">2H</option>
            <option value="3">3H</option>
            <option value="4">4H</option>
            <option value="5">5H</option>
            <option value="6">6H</option>
            <option value="7">7H</option>
            <option value="8">8H</option>
            <option value="9">9H</option>
            <option value="10">10H</option>
        </select>
        <div>
            <small>
                <br/> version 0.1
            </small>
        </div>
    </div>
</div>