@import '../../node_modules/bootstrap/scss/bootstrap-reboot';

$light-grey: #ddd;
$grey: #aaa;

html, button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-weight: lighter;
}

.content {
    text-align: center;
    height: 100%;
    max-width: 600px;
    margin: auto auto;
}
#title {
    height: 15%;
}
#visual {
    height: 60%;
}
#params {
    height: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.circle-green {
    @extend .circle;
    background-color: green;
}

.circle-orange {
    @extend .circle;
    background-color: orange;
}

.circle-red {
    @extend .circle;
    background-color: red;
}

.circle-grey {
    @extend .circle;
    background-color: grey;
}

button {
    border: 0;
    background: $light-grey;
    box-shadow: none;
    border-radius: 3px;
    padding: 10px;
    border: $grey solid 1px;
}