
@import '../../node_modules/bootstrap/scss/bootstrap';

$my-grey: #bbb;

.content {
    text-align: center;
    height: 100%;
    max-width: 600px;
    margin: auto auto;
}
#title {
    height: 10%;
}
#visual {
    height: 65%;
}
#params {
    height: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
