<div id="shadow-simulation">
    <svg id="shadow-display">
        <template v-for="shadow in shadows">
            <ellipse :cx="shadow.centerX" :cy="shadow.centerY" :rx="shadow.radiusX" :ry="shadow.radiusY" class="shadow" :transform="shadow.transform"/>
        </template>
        <circle :cx="svgWidth / 2" :cy="svgHeight / 2" :r="objectRadius * svgMin" id="object" />
        <circle :cx="svgWidth / 2" :cy="svgHeight / 2 - northIndicatorRadiusOrbit * svgMin" :r="northIndicatorRadius * svgMin" id="northIndicator" :transform="northIndicatorTransform"/>
        <circle :cx="svgWidth / 2" :cy="svgHeight / 2 - sunIndicatorRadiusOrbit * svgMin" :r="sunIndicatorRadius * svgMin" id="sunIndicator" :transform="sunIndicatorTransform"/>
    </svg>
    <!-- <div style="display: block">alpha: {{currentOrientation.alpha}}</div> -->
</div>
