<div id="shadow-simulation">
    <div id="shadow-display" v-show="compassAvailable() && geolocationAvailable() && geolocationAllowed()">
        <svg>
            <template v-for="shadow in shadows">
                <ellipse :cx="shadow.centerX" :cy="shadow.centerY" :rx="shadow.radiusX" :ry="shadow.radiusY" class="shadow" :transform="shadow.transform"
                />
            </template>
            <circle :cx="svgWidth / 2" :cy="svgHeight / 2" :r="objectRadius * svgMin" id="object" />
            <circle :cx="svgWidth / 2" :cy="svgHeight / 2 - northIndicatorRadiusOrbit * svgMin" :r="northIndicatorRadius * svgMin" id="northIndicator"
                :transform="northIndicatorTransform" />
            <circle :cx="svgWidth / 2" :cy="svgHeight / 2 - sunIndicatorRadiusOrbit * svgMin" :r="sunIndicatorRadius * svgMin" id="sunIndicator"
                :transform="sunIndicatorTransform" />
        </svg>
    </div>
    <div id="compass-not-available" v-show="!compassAvailable()">
        <p>Pour faire fonctionner cette application, nous avons besoin d'une boussole. Votre ordinateur/téléphone ne nous le
            permet pas.</p>
    </div>
    <div id="geolocation-not-available" v-show="!geolocationAvailable()">
        <p>Pour faire fonctionner cette application, nous avons besoin de vous géolocaliser mais votre navigateur ne nous le
            permet pas.</p>
    </div>
    <div id="geolocation-allow" v-show="!geolocationAllowed()">
        <p>Pour faire fonctionner cette application, nous avons besoin de vous géolocaliser.</p>
        <button v-on:click="allowGeolocation()">Me géolocaliser</button>
    </div>
</div>